.center{
  text-align: center;
}
h1{
  font-size: 72px;
  font-family: cursive;
  color: #3c6e71;
  padding: 0px;
  margin: 0px;
}
h2{
  margin: 0px;
  padding: 0px;
}
h3{
  font-family: cursive;
  text-align: center;
  margin-top: 0px;
}
header{
  background-color: #d9d9d9;
}
.profile{
  width: 300px;
  border-radius: 50px;
}
.rounded{
  border-radius: 20px;
}
.light-blue{
  background-color: lightskyblue;
  border: #000000 2px solid;
  padding: 20px;

}
.sea-green{
  background-color: lightseagreen;
  border: #000000 2px solid;
  padding: 20px;
}
.green{
  background-color: lightgreen;
  border: #000000 2px solid;
  padding-left: 20px;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 5px;
  background-color: #d9d9d9;
}
.large{
  font-size: 24px;
}
a{
  color: #5555ff
}
a:visited {color: darkblue}
a:hover   {color: green}
a:active  {color: orange}
